<!Doctype html>
<>


	<head>
		<title>
			Display Page
		</title>
	</head>

<h1>ADITYA PANDEY, 1001405034, 1:00 PM BATCH</h1>>

	<body >
	Type the name of the Ingredient to get all food items associated with it:
    <form method="POST" action= "/listFood" name="home">
		Ingredient Name: <input type="text" name="item">
		Calories:<input type="text" name="cal">
		<input type="submit">
    </form>

	Type the name of the Ingredient to get count of food items associated with it:
	<form method="POST" action= "/getCount" name="home">
		Ingredient Name: <input type="text" name="count"> <input type="submit">
    </form>


	Type the name of the Ingredient to get count of food items associated with it:
	<form method="POST" action= "/getCount" name="home">
		Ingredient Name: <input type="text" name="count"> <input type="submit">
    </form>



    <p> time_to_execute: {{time_to_execute}} </p>

	</body>>
</html>
